@keyframes wave {
    0%, 100% {
      background-position: 200% center;
    }
    50% {
      background-position: 0% center;
    }
  }
  
  .wave-text {
    font-size: 3.75rem; /* text-6xl equivalent */
    font-weight: bold;
    background: linear-gradient(to right, #d1d5db, #ffffff, #d1d5db); /* gray to white and back to gray */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: wave 3s ease-in-out infinite;
    background-repeat: no-repeat; /* Ensure wave moves smoothly */
  }
  @media (max-width:767px) {
    .ultimate-text{
      margin-top: 45px !important;
    }
    
  }
  .custom-arrow-button {
    position: absolute;
    right: -1rem; /* -right-4 */
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;  /* w-12 */
    height: 3rem; /* h-12 */
    background-color: #f97316; /* bg-orange-500 */
    border-radius: 9999px; /* rounded-full */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .custom-arrow-button:hover {
    background-color: #ea580c; /* hover:bg-orange-600 */
  }
  
  .arrow-icon {
    color: white;
  }
  
  .gradient-border {
    background: linear-gradient(to right, #0055FF, #18BFDB, #F5710C, #EC473E);
    padding: 2px;
    border-radius: 1.5rem; /* same as Tailwind's rounded-3xl */
  }
  .text-gradient {
    background: linear-gradient(to right, #0055FF, #18BFDB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: 7px; */
  }
  .orange-circle {
    width:25px; /* Adjust size for the circle */
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F5710C; /* Orange color */
    color: white;
    font-size: 1.25rem; /* Adjust the font size for "+" and "-" */
    transition: background-color 0.3s;
  }
  .get-text{
    color: #18BFDB;
  }
  .signup-bg{
    /* background-color: rgb(196, 190, 190); */
    background-color: #242323 !important;
    
    /* width: 900px; */
  }
